@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

:root {
  --primary: #00FF00;
  --primaryDarker: #00AA00;
  --dark: #323232;
  --darker: #222222;
  --light: #e6e6e6;
}

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../img/night-sky.jpg');
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}